      {% load static %}
	  <div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <h5 class="card-category"></h5>
                    <h1 class="card-title">Анализ соответствия заработной платы {{ org_name }} требованиям Минцифры по критериям размера начисленной зарплаты</h1>
                  </div>                  
                </div>
              </div>              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Фонд оплаты труда</h5>
                    <h2 class="card-title"><i class="tim-icons icon-wallet-43 text-primary "></i>Начисление заработной платы за период с {{start_period}} года по {{end_period}} года</h2>
                  </div>
                  {% comment %} <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="options" autocomplete="off" checked> По данным бухучёта
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple " id="1">
                        <input type="radio" name="options" autocomplete="off"> По данным Росстата
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple " id="2">
                        <input type="radio" name="options" autocomplete="off"> Сравнение
                      </label>
                    </div>
                  </div> {% endcomment %}
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartFOT"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header ">
                <h5 class="card-category">Показатель зарплаты предприятия</h5>
                {% if salary_BU < salary_RS %}
                <h3 class="card-title"><i class="tim-icons icon-alert-circle-exc text-primary "></i> по данным бухучёта</h3>
              </div>
              <div class="card-body text-center">
                <div class="chart-area">
                  <h1 class="display-1 text-danger">{{ salary_BU }} &#8381;</h1> 
                {% else %} 
                <h3 class="card-title"><i class="tim-icons icon-check-2 text-success "></i> по данным бухучёта</h3>
              </div>
              <div class="card-body text-center">
                <div class="chart-area">
                  <h1 class="display-1 text-success">{{ salary_BU }} &#8381;</h1>
                {% endif %}                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header ">
                <h5 class="card-category">Персонал</h5>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-info"></i>Численность сотрудников за период</h3>
              </div>
              <div class="card-body ">
                <div class="chart-area">
                  <canvas id="chartEmpl"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header ">
                <h5 class="card-category">Средняя зарплата по региону</h5>
                <h3 class="card-title"><i  style="color: #17a2b8" class="tim-icons icon-chart-bar-32 "></i> по данным Росстата</h3>
              </div>
              <div class="card-body text-center">
                <div class="chart-area">
                  <h1 style="color: #17a2b8" class="display-1 text-info-emphasis">{{ salary_RS }} &#8381;</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5 class="card-category">Общий анализ</h5>
                    <h4 class="card-title">{{ analysis | safe }}</h4>
                  </div>                  
                </div>
              </div>              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5 class="card-category">Выявленные несоответствия</h5>
                    <h4 class="card-title">{{ inconsistencies | safe }}</h4>
                  </div>                  
                </div>
              </div>              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5 class="card-category">Рекомендации</h5>
                    <h4 class="card-title">{{ recommendations | safe }}</h4>
                  </div>                  
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>