      {% load static %}
	  <footer class="footer">
        <div class="container-fluid">
          <nav>
            {% comment %} <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="http://presentation.creative-tim.com">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
            </ul> {% endcomment %}
          </nav>
          <div class="copyright float-right">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> сделано с <i class="tim-icons icon-heart-2"></i> в 
            <a href="https://x-unit.tech/" target="_blank">x UNIT</a> 
          </div>
      </footer>